@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromLeft 0.5s ease-out forwards;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex-grow: 1;
}

.link {
  padding: 3px;
  box-shadow: inset 0 0 0 0 #b8babb;

  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}
.link:hover {
  box-shadow: inset 200px 0 0 0 #444242;
  color: white;
}

.github-link:hover img {
  filter: invert(1);
}

.logo-container > .image-hover {
  width: 38px; 
  height: 38px; 
  background-image: url('../../public/github-mark.png'); 
  background-size: cover; 
  transition: background-image 0.5s ease-in-out; 
}

.github-link:hover .image-hover {
  background-image: url('../../public/github-mark-white.png'); 
}
